/* TODO: add any application specific styling here */

#mediaOverview main ul li img {
    object-fit: cover;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}

#mediaReadview img {
    width: 100%;
    max-width: 100%;
}

#currentCRUDScope {
    display: inline-block;
    font-size: 12pt;
    font-weight: normal;
    font-style: italic;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
}

.my-long-word-header {
    padding-left: 10px;
    max-width: calc(100% - 100px);
    max-width: -webkit-calc(100% - 100px);
    overflow: hidden;
}

.my-long-word-dialog {
    overflow: hidden;
}
