/* TODO: add any application specific styling here */

textarea {
    resize: none;
}

#mediaOverview main ul li img {
    object-fit: cover;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}

#mediaReadview img {
    width: 100%;
    max-width: 100%;
}

#mediaEditview main .my-preview {
    margin-left: 12px;
    width: calc(100% - 28px);
}

#mediaEditview main video {
    width: calc(100% - 28px);
}

#currentCRUDScope {
    display: inline-block;
    font-size: 12pt;
    font-weight: normal;
    font-style: italic;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
}

#offlineIndicator {
    display: inline-block;
    font-size: 12pt;
    font-weight: normal;
    padding-right: 10px;
    height: 40px;
    line-height: 40px;
    color: rgb(255, 127, 127);
}

.my-description {
    padding: 10px;
    font-size: 12pt;
    overflow: hidden;
}

.my-long-word-header {
    padding-left: 10px;
    max-width: calc(100% - 100px);
    max-width: -webkit-calc(100% - 100px);
    overflow: hidden;
}

.my-long-word-dialog {
    overflow: hidden;
}

#my-listview-playbutton {
    position: relative;
    margin: 5px;
    left: -50px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    opacity: 0.7;
}

.my-listview-titleblock {
    position: relative;
    left: -50px;
    min-width: calc(100% - 100px);
    min-width: -webkit-calc(100% - 100px);
}

.my-listview-options-vertical {
    position: relative;
    left: -50px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
}

.my-listview-video {
    border-radius: 1px;
    overflow: hidden;
    object-fit: cover;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}

.my-no-wrap {
    white-space: nowrap;
}

.my-readview-video {
    width: 100%;
}
